[Unit]
Description=Target representing the lifecycle of the Ayatana/Lomiri Indicators that shall be run in Lomiri. Each indicator should be bound to it in its individual service file.
PartOf=graphical-session.target
