[Desktop Entry]
Name=Phosh
Name[en]=Phosh
Comment=This session logs you into Phosh
Comment[en]=This session logs in you into Phosh
Exec=dbus-run-session awesome --config /etc/xdg/awesome/phosh-nested.lua
TryExec=awesome --config /etc/xdg/awesome/phosh-nested.lua
Type=Application
DesktopNames=Phosh:GNOME
Keywords=launch;Phosh;desktop;session;
